<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20.MediatorPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CDA9E891CF408F50069DFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CDA9E9D1CF408F50069DFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CDA9EA81CF408F50069DFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
