<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>09_ObserverPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CAC13111CE2E52800C44ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAC13251CE2E52800C44ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAC13301CE2E52800C44ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
